html,
body {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  color: #333;
}

.container {
  background: white;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: 700;
  color: #333;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

input[type="date"] {
  font-size: 1rem;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #47cf64;
  border-radius: 5px;
  width: 80%;
  max-width: 300px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

input[type="date"]:focus {
  border-color: #169c9b;
  outline: none;
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  background-color: #169c9b;
  color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #47cf64;
}

p {
  font-size: 1.5rem;
  font-weight: bold;
}

#age {
  color: #169c9b;
}
